@charset "UTF-8";
@media (min-width: 600px) and (max-width: 834px) { 
 

body{
    min-width: 600px;
    margin: auto;
    display: block;
    background-color: var(--cor11);
    width: 168%;
    height: 50%;

}

header{
    background-size: 700px;
    background-position: bottom right -50px;
    height: 70vh;
}



#box{
    position: relative;
    width: 480px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 80px;
}
.seta{
    display: none;
}
   
#box > #agendamento{
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center right;
    text-decoration: none;
    margin: 20px auto;
}


sobre > h1 {
    font-family: var(--versailles);
    font-weight: normal;
    color: #4b452b;
    margin-left: 40px;
    letter-spacing: 5px;
    font-size: 30px;
    text-align: left;
}
  
#salao{
    width:80%;
    margin-top: 5%;
    font-size:30px;
}
#salao > p{
    font-size: 20px;
}


#maps {
    width: 80%;
    height: 300px;
    border: 5px solid var(--cor04);
    border-radius: 10px;
    margin: 50px auto 0px auto;
}
#maps > iframe {
    width: 100%;
    border-radius: 10px;
    bottom: 50px;
    height: 100%;
    margin: auto;
}

#boxsalao{
    flex-direction: column;
}
#footerfinal{

}

}