@charset "UTF-8";
@media (min-width: 600px) and (max-width: 834px) { 

body{
    min-width: 100vw;
}
h2{
    font-size: 20px;
}
header {
    height: 450px;
    background-position: right -10px bottom 0px;
    background-size: 450px;
    margin-bottom: 50px;
}
menu{
    left: 0px;
}
#logo02 {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 200px;
}
#box {
    font-size: 120%;
    translate: 15% 100%;
}
#box > p {
    font-size: 10px;
}
#button{
    width: 150px;
    height: 30px;
}
#button > p{
    font-size: 9px;
}
#button > img{
    width: 6px;
}
#sobre > h1{
    font-size: 20px;
}
#sobre > .reta > img {
    width: 210px;
    height: 10px;
}
li > a {
    font-size: 13px;
    padding: 10px 15px;
}
#boxsalao{
    flex-direction: column;
}
#salao {
    width: 75%;
    margin: 60px 0px;
}
#salao > p {
    font-size: 14px;
    letter-spacing: 3px;
}
#maps {
    width: 80%;
    height: 300px;
    border-radius: 10px;
    margin-right: 0px;
    border: 5px solid var(--cor04);
}
#maps > iframe{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
#servicos > h2{
    font-size: 20px;
}
#servicos > .reta > img {
    width: 150px;
    height: 10px;
}
#boxequipe{
    width: auto;
}
.boxcarrossel {
    width: 100%;
}
.seta{
    display: none;
}
.carrossel{
    width: 97%;
    display: flex;
    overflow: auto;
    gap: 3vw;
    scrollbar-width: none;
}

#contato {
    height: 300px;
    margin-top: 100px;
}
aside > img{
    width: 200px;
}
#imagem04{
    display: none;
}
#imagem05{
    display: none;
}
#redes {
    margin: 100px auto 100px auto;
}
#redes > img {
    width: 50px;
    height: 50px;
    padding: 0px;
    transition: 0.5s;
}
#final > p {
    font-size: 17px;
}
}
#li02{
    font-size: 16px;
    margin-left: 0px;
}
#li01{
    font-size: 16px;
    margin-left: 0px;
}
#boxfooter {
    align-items: center;
    width: 90%;
    margin: auto;
}
#divulgfinal > section > p {
    font-size: 18px;
}
.iconfinal > img{
    width: 25px;
}