@charset "UTF-8";
@media (min-width: 600px) and (max-width: 834px) { 

body{
    min-width: 100vw;
}
header {
    height: 550px;
    background-position: right -70px bottom 0px;
    background-size: 540px;
    margin-bottom: 50px;
}
menu{
    left: 0px;
}
#box {
    font-size: 140%;
    translate: 10% 100%;
}
#box > p {
    font-size: 12px;
}
li > a {
    font-size: 20px;
    padding: 10px 15px;
}
#boxsalao{
    flex-direction: column;
}
#salao {
    width: 78%;
    margin: 50px 0px;
}
#salao > p {
    font-size: 18px;
}
#maps {
    width: 90%;
    border-radius: 10px;
    margin-right: 0px;
    border: 5px solid var(--cor04);
}
#maps > iframe{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.boxcarrossel {
    width: 90%;
}
.seta{
    display: none;
}
.carrossel{
    margin: 60px;
}
#certificados{
    margin-top: 0px;
}
.certificadoslaterais{
    display: none;
}
#boxcertificados > button{
    position: absolute;
    margin: 50px;
    display: block;
    width: 40px;
    height: 40px;
}
#setaesquerda{
    left: 40px;
    background-color: transparent;
    border: none;
}
#setadireita{
    right: 40px;
    background-color: transparent;
    border: none;
}
#imgcertificados {
    position: static;
}
#contato {
    height: 300px;
    margin-top: 100px;
}
.carrosselresultados {
    gap: 30px;
}
.boxcarrosselresultados {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}
#redes {
    margin: 100px auto 100px auto;
}
#redes > img {
    width: 50px;
    height: 50px;
    padding: 0px;
    transition: 0.5s;
}
}