
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@1&display=swap');
@font-face {
    font-family: 'versailles';
    src: url('/fontes/VersaillesLTStd-Light.woff') format('truetype');
}


/* Configurações Gerais*/
:root{
    --cor00: white;
--cor01: #dbc97f;
--cor02: #d3c17a;
--cor03: #b1a267;
--cor04: #8f8353;
--cor05: #6d643f;
--cor06: #4b452b;
--cor11: #dbd6c2;
--ruda: 'Ruda', sans-serif;
--versailles: 'versailles', sans-serif;
--quicksand: 'quicksand', sans-serif;
--irianserif: "Inria Serif", serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1370px;
    margin: auto;
    display: block;
    background-color: var(--cor11);
}
.reta > h2{
    font-family: var(--versailles);
    font-size: 30px;
    color: var(--cor06);
    margin-left: 60px;
    margin-bottom: 20px;
}


/*                                              Cabeçalho
 */
header{
    width: 100%;
    height: 100vh;
    background-color: #d3c17a;
    background-image: url(../imagens/mulherloira.png);
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: right 80px bottom -10px;
}
#erro{
    display: none;
}
#iconMenu{
    opacity: 0;
}
#logo02{
    position: absolute;
    top: 40px;
    right: 20px;
    width: 250px;
}
menu{
    position: absolute;
    opacity: 1;
    top: 60px;
    left: 30px;
    width: 500px;
}
menu > ul{
    display: flex;
}
#iconSair{
    opacity: 0;
}
li > a{
    color: var(--cor05);
    font-family: var(--ruda);
    text-decoration: none;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 20px;
}
li > a:hover{
    background-color: var(--cor06);
    color: var(--cor11);
    transition: 0.5s;
    
}
#box {
    text-decoration: justify;
    font-family: var(--versailles);
    font-weight: normal;
    font-size: 190%;
    color: #4b452b;
    position:absolute;
    translate: 15% 70%;
    width: 60%;
    
}
#box > p{
    font-family: var(--ruda);
    font-size: 15px;
    color: var(--cor05);
    margin-top: 10px;
}
#agendamento{
    text-decoration: none;
    margin: 20px auto;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: var(--cor06);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.371);
}
#button > img{
    display: flex;
    align-items: center;
    left: 20px;
    justify-content: center;  
    
}
#button > img {
    width: 10px;
    margin: 10px;
    height: auto;
}
#button > p{
    font-weight: bold;
    font-size: 14px;
    font-family: var(--ruda);
    color: var(--cor01);
    transition: 0.5s;
}
#button:hover > p{
    color: var(--cor11);
}


/*                                               Parte Sobre
*/


#sobre  > h1, h2{
    font-family: var(--versailles);
    font-weight: normal;
    color: #4b452b;
    margin-left: 60px;
    letter-spacing: 5px;
    font-size: 30px;
}
.reta > img{
    margin-top: 40px;
    width: 246px;
    height: 16px;
    margin-left: 47px;
}
#boxsalao{
    color: #4b452b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#salao > p{
    font-family: var(--quicksand);
    font-size: 16px;
    text-align: justify;
    letter-spacing: 4px;
    line-height: 1.5;

}
#salao{
    width: 40%;
    margin-top: 50px;
}
#maps{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%;
    height: 400px;
    background-color: var(--cor04);
    border-radius: 10px 0px 0px 10px;
    margin-right: -87px;
}
#maps > iframe{
    width: 99%;
    border-radius: 10px 0px 0px 10px;
    height: 390px;
    left: 100%;
}

/*                                             Parte dos serviços
*/

#servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#servicos > .reta > img{
    width: 160px;
    margin-left: 50px;
}

#servicos > h2{
    font-family: var(--versailles);
    font-size: 30px;
    color: var(--cor06);
    margin-left: 60px;
    margin-bottom: 20px;
}
.boxcarrossel {
  position: relative;
  width: 73%; 
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.carrossel {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 20px;
}
.item {
    background-color: black;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    flex-shrink: 0;
}
.seta {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
}


/*                                           Parte dos certificados          
*/



#certificados{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
#certificados > .reta > img{
    width: 200px;
    margin-left: 50px;
}
#certificados > article{
    display: flex;
    justify-content: center;
    align-items: center;
}
#boxcertificados{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.certificadoslaterais{
    filter: blur(5px);
    width: 250px;
    height: 200px;
}
#boxcertificados > div{
    opacity: 0;
    transition: 0.5s;
}
#boxcertificados:hover div{
    opacity: 1;
}
#imgcertificados{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgcertificados > img > .imagemcertificado{
   display: flex;
    
}
#imgcertificados{
    display:flex;
}
#certificadomeio{
    display: inline-block;
    border-radius: 10px;
    width: 400px;
    margin: 95px 120px;
}
#boxcertificados > div > img{
    width: 20px;
    height: auto;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
}
#boxcertificados > div:hover > img{
    width: 30px;
    margin: 5px;
}

/*                          Parte dos resultados
*/


#resultados > .reta > img{
    width: 150px;
}

.fotosgaleria > div > img{
    width: 200px;       
    height: 400px;    
    object-fit: cover; 
    border-radius: 10px;
          
}

.fotosgaleria{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 50px;

}


/*                               Parte do contato
*/

#contato{
    height: 500px;
}
#contato > p{
    font-family: var(--quicksand);
    bottom: 20px;
    font-size: 30;
}
#redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 200px auto 100px auto;
    width: 80%;
}
#redes > img{
    width: 50px;
    height: 50px;
    margin: 20px;
    transition: 0.5s;
}
#redes > img:hover{
    width: 60px;
    height: 60px;
    margin: 10px;
}
#predes{
    text-align: center;
    font-size: 20px;
    font-family: var(--quicksand);
    margin-top: 50px;
}
#boxfooter{
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto; 
}
#boxfooter > img{
    width: 300px;
    height: auto;
    margin-top: 20px;
}

#li01{
    font-family: var(--quicksand);
    font-size: 18px;
    color: var(--cor05);
    margin-left: 20px;
}

#li02{
    font-family: var(--quicksand);
    font-size: 18px;
    color: var(--cor05);
    margin-left: 20px;

}
#final{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 10px 30px;
}
#divulgfinal{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    
}
#divulgfinal > section{
    display: flex;
    gap: 5px;
    align-items: center;
}
#divulgfinal > section > p{
    font-size: 16px;
    color: var(--cor05);
}
.iconfinal > p{
    font-family: var(--quicksand);
    text-align: left;
    font-size: 12px;
    color: var(--cor05);
    margin-left: 10px;
}

.iconfinal > img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: auto;
}